

.mainText {
display: flex;
gap: 24px;
margin-bottom: 24px;
}

.headerContainer {
margin-left: 64px;
margin-bottom: 24px;
border-radius: 30px;
width: 720px;
background: #f8f8f8;
}

.description {
padding: 98px 108px 98px 64px;

}

.headerText {
font-weight: 500;
font-size: 48px;
line-height: 1.17;
letter-spacing: -0.02em;
margin-bottom: 32px;

}

.highlight {
font-style: italic;
font-weight: 400;
background-color: #8A8A89;
}

.text {
font-size: 16px;
line-height: 1.37;
letter-spacing: -0.02em;
margin-bottom: 64px;
}

.getStarted {
border-radius: 12px;
width: 267px;
height: 60px;
border: none;
font-weight: 700;
line-height: 1.56;
background: #8a8a89;
font-size: 18px;
}