

.header {
display: flex;
justify-content: space-between;
padding: 20px 128px;
align-items: center;
}

.learn {
    display: flex;
    gap: 8px;
}

svg {
    width: 28px;
    height: 28px;
}

.learnLingo {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: -0.02em;
color: #121417;
}

.homeText {
font-size: 16px;
line-height: 1.25;
}

.home {
display: flex;
gap: 28px;
}

.login {
display: flex;
align-items: center;
}

.iconLogin {
    margin-right: 8px;
}

.loginText {
font-weight: 700;
font-size: 16px;
line-height: 1.25;
color: #8a8a89;
margin-right: 14px;
}

.button {
border-radius: 12px;
padding: 14px 39px;
width: 166px;
height: 48px;
background: #8a8a89;
border: none;
font-weight: 700;
font-size: 16px;
line-height: 1.25;
color: #fff;
}