.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* напівпрозорий чорний фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* вище за все інше */
}

.modalContent {
  background-color: #fff;
  padding: 64px;
  border-radius: 30px;
width: 599px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1001;
   position: relative; 
}

.avatarImg {
    border-radius: 100px;
width: 44px;
height: 44px;
}

.closeBtn {
 position: absolute; 
  top: 20px; 
  right: 20px; 
  background: transparent; 
  border: none; 
  cursor: pointer; 
  font-size: 24px; 
}

.bookHeader {
font-weight: 500;
font-size: 40px;
line-height: 1.2;
letter-spacing: -0.02em;
margin-bottom: 20px;
}

.bookText {
font-weight: 400;
font-size: 16px;
line-height: 137%;
color: rgba(18, 20, 23, 0.8);
margin-bottom: 20px;
}

.teaherContainer {
  display: flex;
 gap: 14px;
 margin-bottom: 40px;
}

.teacherText {
font-weight: 500;
font-size: 12px;
line-height: 1.33;
color: #8a8a89;
}

.teacher {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
}

.reasons {
font-weight: 500;
font-size: 24px;
line-height: 1.33;
margin-bottom: 20px;
}

.radio {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;

}

.registerInput {
  border: 1px solid rgba(18, 20, 23, 0.1);
border-radius: 12px;
padding: 16px 0 16px 18px;
width: 472px;
height: 54px;

}

.bookButton {
  border-radius: 12px;
background: #f4c550;
width: 472px;
height: 60px;
margin-top: 40px;
font-weight: 700;
font-size: 18px;
line-height: 1.56;
}