.wordYellow {
background-color: #F4C550 !important; 
}

.btnYellow {
background-color: #F4C550 !important;
}

.btnYellow:hover {
    background-color: #fbe9ba !important;
}

.borderYellow {
    border:  1.50px dashed #F4C550 !important;
}

.wordGreen {
background-color: #9FBAAE !important;
}

.btnGreen {
    background-color: #9FBAAE !important;
}

.btnGreen:hover {
    background-color: #cbded3 !important;
}


.borderGreen {
    border:  1.50px dashed #9FBAAE !important;
}

.wordBlue {
background-color: #9FB7CE !important;
}

.btnBlue {
    background-color: #9FB7CE !important;
}

.btnBlue:hover {
    background-color:#bfd6ea !important;
}

.borderBlue {
    border:  1.50px dashed #9FB7CE !important;
}

.wordRed {
 background-color: #E0A39A !important;
}

.btnRed {
    background-color: #E0A39A !important;
}

.btnRed:hover {
    background-color: #f2c0bd !important;
}

.borderRed {
    border:  1.50px dashed #E0A39A !important;
}

.wordOrange {
background-color: #F0AA8D !important;
}

.btnOrange {
    background-color: #F0AA8D !important;
}

.btnOrange:hover {
    background-color: #f4c8ba !important;
}

.borderOrange {
    border:  1.50px dashed #F0AA8D !important;
}